---
layout: default
title: Fundraiser for Little Red Boart
permalink: /
---

<section class="page-header">
  <h1 class="project-name">Fundraiser for Little Red Boat</h1>
  <h2 class="project-tagline">Please tell all your friends :D</h2>
</section>

<section class="main-content" style="text-align: center;">

  <img src="https://static.hackartscience.com/hackartscience/logo/boat.svg" alt="boat artwork">

  <h2>
    <a id="hello-all" class="anchor" href="#hello-all" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
    </a>
    Hello, all!
  </h2>

  <p>
    Our sailing club is in need of funding if it is to survive another year.
    If you would like to sail this boat whenever you like (by yourself, or with some friends), do consider sharing in the annual costs.
    If you go sailing with us, please consider contributing a little money on a monthly basis as well.
    Currently, the existence of this boat is contingent on us fundraising an additional ~$60 monthly.
    We will happily plaster our boat with ads for you.
  </p>

  <h4>Our funding situation (monthly amounts for the 2015-16 seasons)</h4>
  <div id="chart" style="width: 100%; height: 500px;"></div>

  <p>
    If you would like to help, please contact <a href="mailto:ilebedev@mit.edu">Ilia</a>!
    We also have an informal mailing list, which you can join <a href="https://lists.csail.mit.edu/mailman/listinfo/sailboat">right here</a>, if you would like to keep in touch via disorganized email annoucements!
    If you love what we do, and would like to give us a little cash (please specify if you would like to remain anonymous, and choose your color for the fundraising chart), here are some ways to do so:
  </p>

  <ul>
    <li>Google Wallet: <a href="https://wallet.google.com">boat@hackartscience.com</a></li>
    <li>PayPal: <a href="https://paypal.me/hackartscience">hackartscience</a></li>
    <li>Square cash: <a href="https://cash.me/$hackartscience">$hackartscience</a></li>
    <li>Venmo: <a href="https://venmo.com/">@Ilia-Lebedev</a></li>
  </ul>

  <h3>
    <a id="our-little-sailing-club" class="anchor" href="#our-little-sailing-club" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
    </a>
    Our little sailing club
  </h3>

  <p>
    Thanks for being a valued part of our little sailing club!
    If you don't know what I am talking about, this is Ilia and Nancy's O'Day 26 Outlaw, which we have worked hard to restore to a seaworthy state, and make very available to the MIT and greater Boston community.
    We are committed to open-sourcing all of our work, boat-related projects, budgets, and stories (we have done some of this, but can and should do more).
    Overall, the 2015-16 season marked a transition of the boat from being a floating wreck to being a seaworthy vessel.
  </p>

  <p><a href="https://goo.gl/photos/ntMSm7FnU5ZVs8ni7">Boat moored in the Boston Harbor.</a></p>
  <p><a href="https://goo.gl/photos/anH5ZYToPgZ1wnxE7">Boat with a new paint job preparing for launch.</a></p>

  <p>
    This little red boat of ours has been a great success over the last two years, with dozens of people joining us for sailing trips, and the like.
    We have taught many of the skill and confidence of sailing, offered countless after-work outings, and gave you an opportunity to see Boston from afar while sailing through wind and waves.
    Many of you also had fun helping us paint and repair the hull. Let's take a moment and congratulate ourselves on creating a successful little sailing club!
    I personally had a lovely time fixing and maintaining this boat, and taking you on sailing trips around the harbor and the coastal sea.
    We saw many birds, jellyfish, ships, and lighthouses.
    I enjoyed restoring this old junker of a boat into a very capable (albeit a little unfinished) coastal cruiser.
  </p>

  <p>
    The financial narrative for this boat was quite simple:
    Nancy and I split the costs ~50-50 (it was expensive but it was worth it!) or so until May ‘16, at which point Nancy left town and I paid for the boat entirely out of my pocket.
    This unfortunately cannot continue - it is simply outside of my financial reach, and is simply not cost effective for me to pay alone.
  </p>

  <h2>
    <a id="okay-great-now-lets-talk-about-the-future" class="anchor" href="#okay-great-now-lets-talk-about-the-future" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Okay, great, now let's talk about the future.</h2>

  <h3>
    <a id="the-budget" class="anchor" href="#the-budget" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    The budget
  </h3>

  <ul>
    <li>Maintenance : ~$1000/year, give or take, which I will continue to pay.</li>
    <li>Insurance + taxes + fees : ~$350/ year, which I will continue to pay.</li>
    <li>Winter storage : $1700 (total Nov - May)
    (this cost can be reduced to ~$1000 by keeping the boat in the icy water all winter, but may cause some expensive repairs next season)</li>
    <li>Summer storage : $2500 (total May - Nov)</li>
  </ul>

  <p>
    While I can add an extra ~$100/month to what I already pay in order to cover the storage costs, this leaves some $250 per month in expenses I cannot possibly cover alone.
  </p>

  <h3>
    <a id="okay-cool-so-what" class="anchor" href="#okay-cool-so-what" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    Okay, cool, so what?
  </h3>

  <p>
    The boat only makes financial sense if its costs are shared (affordable for 3 owners).
    I am now faced with a tough choice: to somehow pay for an entire year of the boat in the next few weeks, or to throw this boat into the trash.
  </p>

  <h3>
    <a id="oh-no-not-the-trash-what-can-i-do" class="anchor" href="#oh-no-not-the-trash-what-can-i-do" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    Oh no! Not the trash! What can I do?
  </h3>

  <p>
    If you would like to have free rein to sail the boat whenever you like without the hassle of committing to maintain it, please consider sharing in its costs!
    I encourage you to step up and commit ~$100/month - very reasonable for essentially owning a classic ocean-going boat in the most convenient marina in Boston!
  </p>

  <p>
    If you absolutely cannot, but have enjoyed the boat in the past, I encourage you to pay your part for this enjoyment by contributing some cash every month.
    Even ~$20/month will go a long way.
    If that's a lot, Ilia can make you a drink or two every month, which is what you’d spend drinking with him at a bar :D
    We must establish consistent monthly cash flow to budget for the care of this boat.
    While one-time donations are lovely as well, this fundraiser is focused entirely on monthly commitments for the coming year.
  </p>

  <p>
    Of course, I am happy to advertise your name (or your company’s name!) on parts of this boat to promote your legacy!
  </p>

  <h3>
    <a id="summary" class="anchor" href="#summary" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    Summary
  </h3>

  <p>
    In order for this boat to continue existing, we must find a way to pay for the entire next year in storage fees in the near future.
    I will certainly do my part, but I ask that you do yours as well, and commit a few dollars per month for the upcoming year.
    I will keep you posted as we raise some money.
    If lighting strikes, and we raise more than we expected, the money will stay with the boat and ensure it continues to be an affordable way for us all to go sailing!
  </p>

  <p>
    Please tell all your friends, and don’t hesitate to forward this message to any interested parties. If you would like to help, please contact <a href="mailto:ilebedev@mit.edu">Ilia</a>!
    If you would just like to stay in touch, you can join our <a href="https://lists.csail.mit.edu/mailman/listinfo/sailboat">mailing list</a>.
  </p>

  <p>Best!</p>
  <p>-Ilia Lebedev, MIT</p>
</section>

<!-- Pie chart infographic  -->
<script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Person', 'Amount given'],
          ['Ilia',            100],
          ['Michelle',        25],
          ['John',            80],
          ['Sara',            20],
          ['Grace',           1.67],
          ['Chris',           3.33],
          ['Tom',             30],
          ['Anonymous T',     30],
          ['Anonymous C',     1.67],
          ['Nancy',           60]
        ]);

        var formatter = new google.visualization.NumberFormat(
          { negativeColor: 'red',
            negativeParens: true,
            pattern: '$###,###'
          });
        formatter.format(data, 1);

        var options = {
          pieHole: 0.25,
          pieSliceText: "value",
          pieSliceTextStyle: {
            color: 'black',
          },
          legend: 'none',
          slices: {
            0: { color: '#F06292' },
            1: { color: '#66BB6A' },
            2: { color: '#9CCC65' },
            3: { color: '#000000', textStyle: {color: 'white'} },
            4: { color: '#76FF03' },
            5: { color: '#42A5F5' },
            6: { color: '#ffcc66' },
            7: { color: '#ef5350' },
            8: { color: '#e53935' },
            9: { color: '#e67e22' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
</script>
